## Inport Packages

In [20]:
import pandas as pd
import numpy as np

## Load Data

In [21]:
asd_toddler = pd.read_csv('/Users/markzepeda/Desktop/Final Project/R Github Projects/ASD_FINAL/Autism_Toddler.csv')
asd_child = pd.read_csv('/Users/markzepeda/Desktop/Final Project/R Github Projects/ASD_FINAL/Autism_Child.csv')
asd_adolescent = pd.read_csv('/Users/markzepeda/Desktop/Final Project/R Github Projects/ASD_FINAL/Autism_Adolescent.csv')
asd_adult = pd.read_csv('/Users/markzepeda/Desktop/Final Project/R Github Projects/ASD_FINAL/Autism_Adult.csv')
asd_all = pd.read_csv('/Users/markzepeda/Desktop/Final Project/R Github Projects/ASD_FINAL/Autism_ALL.csv')

In [22]:
asd_toddler.dtypes

A1             int64
A2             int64
A3             int64
A4             int64
A5             int64
A6             int64
A7             int64
A8             int64
A9             int64
A10            int64
Age            int64
Sex           object
Ethnicity     object
Jaundice      object
Family_ASD    object
Class         object
dtype: object

In [23]:
asd_child.dtypes

A1             int64
A2             int64
A3             int64
A4             int64
A5             int64
A6             int64
A7             int64
A8             int64
A9             int64
A10            int64
Age            int64
Sex           object
Ethnicity     object
Jaundice      object
Family_ASD    object
Class         object
dtype: object

In [24]:
asd_adolescent.dtypes

A1             int64
A2             int64
A3             int64
A4             int64
A5             int64
A6             int64
A7             int64
A8             int64
A9             int64
A10            int64
Age            int64
Sex           object
Ethnicity     object
Jaundice      object
Family_ASD    object
Class         object
dtype: object

In [25]:
asd_adult.dtypes

A1             int64
A2             int64
A3             int64
A4             int64
A5             int64
A6             int64
A7             int64
A8             int64
A9             int64
A10            int64
Age            int64
Sex           object
Ethnicity     object
Jaundice      object
Family_ASD    object
Class         object
dtype: object

In [26]:
asd_all.dtypes

A1             int64
A2             int64
A3             int64
A4             int64
A5             int64
A6             int64
A7             int64
A8             int64
A9             int64
A10            int64
Age            int64
Sex           object
Ethnicity     object
Jaundice      object
Family_ASD    object
Class         object
dtype: object

## Data Wrangling

### Recode Sex, Jaundice, Family_ASD

In [27]:
cleanup = {"Sex": {"m": 0, "f": 1},
          "Jaundice": {"no": 0, "yes": 1},
          "Family_ASD": {"no": 0, "yes": 1}}

In [28]:
asd_toddler.replace(cleanup, inplace=True)

In [29]:
asd_toddler.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Sex,Ethnicity,Jaundice,Family_ASD,Class
0,0,0,0,0,0,0,1,1,0,1,2,1,middle eastern,1,0,NO
1,1,1,0,0,0,1,1,0,0,0,3,0,white european,1,0,YES
2,1,0,0,0,0,0,1,1,0,1,3,0,middle eastern,1,0,YES
3,1,1,1,1,1,1,1,1,1,1,2,0,hispanic,0,0,YES
4,1,1,0,1,1,1,1,1,1,1,2,1,white european,0,1,YES

In [30]:
asd_child.replace(cleanup, inplace=True)

In [31]:
asd_child.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Sex,Ethnicity,Jaundice,Family_ASD,Class
0,0,1,1,0,0,1,1,0,0,1,4,0,middle eastern,1,0,NO
1,0,1,1,1,1,1,1,0,0,1,4,0,middle eastern,1,0,YES
2,0,1,1,1,1,1,0,1,1,1,5,0,white,0,0,YES
3,0,1,1,0,1,1,1,0,0,0,4,0,middle eastern,1,0,NO
4,0,0,1,1,1,1,0,1,0,1,5,0,white,0,0,NO

In [32]:
asd_adolescent.replace(cleanup, inplace=True)

In [33]:
asd_adolescent

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Sex,Ethnicity,Jaundice,Family_ASD,Class
0,1,1,0,1,0,0,1,1,0,0,15,0,asian,0,0,NO
1,0,1,1,1,0,1,1,0,1,0,15,0,middle eastern,0,0,NO
2,1,1,1,0,1,1,1,1,1,1,15,1,middle eastern,0,1,YES
3,1,1,1,1,1,1,1,1,0,0,16,1,latino,0,0,YES
4,1,1,1,1,1,1,1,1,1,1,15,1,aboriginal,0,0,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,1,0,0,0,0,0,0,0,0,1,16,1,middle eastern,0,0,NO
244,1,1,1,0,1,1,0,1,1,1,16,1,south asians,0,0,YES
245,1,0,1,1,1,1,1,1,1,1,13,0,white,0,0,YES
246,0,0,1,1,0,1,1,1,1,1,12,1,middle eastern,0,0,YES
247,1,0,0,0,1,0,0,1,0,0,13,0,white,0,0,NO

In [34]:
asd_adult.replace(cleanup, inplace=True)

In [35]:
asd_adult.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Sex,Ethnicity,Jaundice,Family_ASD,Class
0,0,0,0,0,0,0,0,0,0,0,27,1,white,0,0,NO
1,1,1,1,1,1,1,1,1,1,1,21,1,white,0,0,YES
2,1,1,0,1,1,0,0,1,0,0,18,0,black,0,0,NO
3,1,0,0,0,1,1,1,1,1,1,49,0,black,0,0,YES
4,1,1,1,0,0,0,0,1,0,0,18,0,aboriginal,0,0,NO

In [36]:
asd_all.replace(cleanup, inplace=True)
asd_all.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Sex,Ethnicity,Jaundice,Family_ASD,Class
0,0,0,0,0,0,0,1,1,0,1,2,1,middle eastern,1,0,NO
1,1,1,0,0,0,1,1,0,0,0,3,0,white european,1,0,YES
2,1,0,0,0,0,0,1,1,0,1,3,0,middle eastern,1,0,YES
3,1,1,1,1,1,1,1,1,1,1,2,0,hispanic,0,0,YES
4,1,1,0,1,1,1,1,1,1,1,2,1,white european,0,1,YES

### Dummy Code Ethnicity

In [37]:
EthnicityDummy = pd.get_dummies(asd_toddler['Ethnicity'],drop_first=True)
asd_toddler = pd.concat([asd_toddler, EthnicityDummy],axis=1)
asd_toddler.drop(['Ethnicity'], axis=1, inplace=True)
list(asd_toddler.columns)

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'Age',
 'Sex',
 'Jaundice',
 'Family_ASD',
 'Class',
 'black',
 'hispanic',
 'latino',
 'middle eastern',
 'mixed',
 'native indian',
 'others',
 'pacifica',
 'south asians',
 'white european']

In [162]:
EthnicityDummy = pd.get_dummies(asd_child['Ethnicity'],drop_first=True)
asd_child = pd.concat([asd_child, EthnicityDummy],axis=1)
asd_child.drop(['Ethnicity'], axis=1, inplace=True)
list(asd_child.columns)

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'Age',
 'Sex',
 'Jaundice',
 'Family_ASD',
 'Class',
 'asian',
 'black',
 'hispanic',
 'latino',
 'middle eastern',
 'others ',
 'south asians',
 'white']

In [163]:
EthnicityDummy = pd.get_dummies(asd_adolescent['Ethnicity'],drop_first=True)
asd_adolescent = pd.concat([asd_adolescent, EthnicityDummy],axis=1)
asd_adolescent.drop(['Ethnicity'], axis=1, inplace=True)
list(asd_adolescent.columns)

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'Age',
 'Sex',
 'Jaundice',
 'Family_ASD',
 'Class',
 'asian',
 'black',
 'hispanic',
 'latino',
 'middle eastern',
 'others ',
 'south asians',
 'white']

In [164]:
EthnicityDummy = pd.get_dummies(asd_adult['Ethnicity'],drop_first=True)
asd_adult = pd.concat([asd_adult, EthnicityDummy],axis=1)
asd_adult.drop(['Ethnicity'], axis=1, inplace=True)
list(asd_adult.columns)

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'Age',
 'Sex',
 'Jaundice',
 'Family_ASD',
 'Class',
 'asian',
 'black',
 'hispanic',
 'latino',
 'middle eastern',
 'others ',
 'south asians',
 'white']

In [165]:
EthnicityDummy = pd.get_dummies(asd_all['Ethnicity'],drop_first=True)
asd_all = pd.concat([asd_all, EthnicityDummy],axis=1)
asd_all.drop(['Ethnicity'], axis=1, inplace=True)
list(asd_all.columns)

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'Age',
 'Sex',
 'Jaundice',
 'Family_ASD',
 'Class',
 'asian',
 'black',
 'hispanic',
 'latino',
 'middle eastern',
 'mixed',
 'native indian',
 'others',
 'others ',
 'pacifica',
 'south asians',
 'white',
 'white european']

### Subset Class = Yes

In [19]:
asd_toddler_yes = asd_toddler[asd_toddler.Class == "YES"]
asd_toddler_yes.head()
asd_toddler_yes.to_csv("asd_toddler_yes.csv")

In [167]:
asd_child_yes = asd_child[asd_child.Class == "YES"]
asd_child_yes.head()
asd_child_yes.to_csv("asd_child_yes.csv")

In [168]:
asd_adolescent_yes = asd_adolescent[asd_adolescent.Class == "YES"]
asd_adolescent_yes.head()
asd_adolescent_yes.to_csv("asd_adolescent_yes.csv")

In [169]:
asd_adult_yes = asd_adult[asd_adult.Class == "YES"]
asd_adult_yes.head()
asd_adult_yes.to_csv("asd_adult_yes.csv")

In [170]:
asd_all_yes = asd_all[asd_all.Class == "YES"]
asd_all_yes.head()
asd_all_yes.to_csv("asd_all_yes.csv")

In [ ]:
### END